body {
	background : #E6E6FA;
	margin : 0;
	padding : 0;
	font-family : "Helvetica", "Arial";
}
#wrapper {
	width : 70%;
	height : auto;
	background : #F5F5DC;
	border-left : 5px solid #A09885;
	border-right : 5px solid #A09885;
	overflow : auto;
	margin : 0 auto;
	padding : 10px;
}
#header {
	width : 100%;
	height : 100px;
	border-bottom : 3px solid #7C7063;
}
#logo {
	float : left;
	margin : 15px 0px 0px 20px;
}
#social {
	float : right;
	margin : 20px 30px 0px 0px;
}
#social ul li {
	float : right;
	list-style : none;
	padding-right : 5px;
}
#social img {
	height : 39px;
	width : 39px;
	margin : 0px 20px 0px 0px;
}
#social_2 ul li {
	float : right;
	list-style : none;
	padding-right : 5px;
}
#social_2 img {
	height : 40px;
	width :  140px;
	margin : 30px 0px 30px 30px;
}
#sidebar {
	float : left;
	width : 275px;
	height : 100%;
}
#menu ul {
	float : left;
	height : auto;
	width : 200px;
}
#menu ul li {
	list-style : none;
	padding : 5px;
	text-align : center;
}
#menu ul li a {
	background : #F5F5DC;
	color : #4E4F3E;
	text-decoration : none;
	padding : 10px 0px;
	display : block;
}
#menu ul li  a:hover {
	color : #fff;	
}
#content {
	float : left;
	width : 655px;
	height : 100%;
	padding-left : 15px;
	letter-spacing : 1px;
	color: #57574c;
	border-left : 3px solid #7C7063;
}
h2 {
	text-align : center;
	padding : 5px;
	border-bottom : 1px solid #7C7063;
}
p {
	text-indent : 40px;
	line-height : 25px;
}
img {
	float : right;
	padding : 0px 0px 5px 5px;
}
.top a {
	color : #778899;
}
#table {
	margin : 0px 0px 30px 45px;
	border : 1px; 
}
iframe {
	margin-left : 55px;
}
#footer {
	clear : both;
	width : 100%;
	height : 80px;
	color : #7C7063;
	border-top : 3px solid #7C7063;
}
h5 {
	text-align : left;
}
h6 {
	text-align : center;
}
